@import '~bootstrap/scss/bootstrap';
@import './components/index';

.site-logo-bar .navbar-brand > img {
    max-width: 200px !important;
    max-height: 500px !important;
    padding-top: 20px;
    padding-bottom: 30px;
}

.badge-clinic {
    background: yellow !important;
    color: #000;
}

.badge-walk {
    background: orange !important;
    color: #000;
}

button.m-r.sidebar-toggle.is-not-collapsed.btn.btn-secondary {
    display: none;
}